<h1 class="text-center mb20">Log in</h1>

<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center mb20">
        <%= f.label :email, class: "text-center" %>
        <%= f.email_field :email %>
      </div>

      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center mb20">
        <%= f.label :password, class: "text-center" %>
        <%= f.password_field :password%>
      </div>

      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        <%= f.submit "Log in", class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
