<h1 class="text-center mb20">Sign up</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= form_with(model: @user, local: true) do |f| %>
  <div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center mb20">
      <%= f.label :name, class: 'form_head' %>
      <%= f.text_field :name %>
    </div>

    <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center mb20">
      <%= f.label :email, class: 'form_head' %>
      <%= f.email_field :email %>
    </div>

    <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center mb20">

      <%= f.label :password, class: 'form_head' %>
      <%= f.password_field :password %>
    </div>

    <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center mb20">
      <%= f.label :password_confirmation, class: 'form_head' %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center mb10">
      <%= f.submit "アカウントを作成する" %>
    </div>

    <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
      <%= link_to "or Log in", new_session_path %>
    </div>

    </div>
  </div>



    <% end %>
