<%= form_with(model: @picture, local: true) do |form| %>

<% if @picture.errors.any? %>
  <div id="error_box">
    <h2><%= @picture.errors.count %>件のエラーを検出しました</h2>
    <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div class="field">
      <%= form.label :content %>
      <%= form.text_field :content %>
    </div>
    <!-- add 180701 画像のアップ実装時、以下4行をマスク解除 -->
    <div class="field mb20">
      <%= form.label :image %>:
      <div><%= image_tag(@picture.image.url)if @picture.image.url %></div>
      <div><%= form.file_field :image, id: :picture_image %></div>
    </div>
    <%= form.submit %>
    <% end %>

  </div>
</div>
