<h1>投稿一覧</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>タイトル</th>
    <th>テキスト</th>
  </tr>
<% @pictures.each do |picture| %>

  <tr>
      <td><%= picture.title %></td>
      <td><%= picture.content %></td>
      <td><%= link_to '詳細を確認する', picture_path(picture.id) %></td>
      <td><%= link_to '編集する', edit_picture_path(picture.id), data: { confirm: '本当に編集しますか？' } %></td>
      <td><%= link_to '削除する', picture_path(picture.id), data: { confirm: '本当に削除しますか？'}, method: :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to '新規投稿画面にもどる', new_picture_path %>
